name: hello-world
on: 
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, reopend, review_requested]      
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: |
          echo "Hello World! "
          echo "my name is ramya vemula "
          
  my-job2:
    runs-on: windows-latest
    steps:
      - name: my-step
        run: |
          echo "Hello World! "
          echo "my name is ramya vemula "